* {
  margin: 0;
  padding: 0;
}
li a {
  text-decoration: none;
  margin-left: 20px;
  color: antiquewhite;
  justify-content: center;
  font-size: 12px;
  text-align: center;
  
  
}
ul {
  list-style-type: none;
  justify-content: center;
}
.navbar {
  margin-left: 0;
  background-color: black;
}
li{
    display: inline-block;
    text-align: center;
}
